@use '../utils' as *;

.error-page{
 padding-bottom: 80px;

  .error-title{
    font-size: 80px;
    padding: 60px 40px 0 40px;
    color: $dark-green;
  }
  .error-subtitle{
    font-size: 20px;
    font-style: oblique;
    font-weight: 600;
    color: $green;
    padding-bottom: 60px;
  }
  .error-link{
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    &:hover{
      text-decoration: underline;
      font-weight: 600;
    }
  }
}