$light-green: rgb(0, 188, 119); /* #00bc77 */
$green: rgb(66, 185, 131); /* #42b983 */
$white: rgb(255, 255, 255); /* #fff */
$black: rgb(0, 0, 0);
$grey: rgb(204, 204, 204); /* #ccc */
$dark-grey: rgb(34, 34, 34); /* #222 */
$blue: rgb(44, 62, 80); /* #2c3e50 */
$purple: rgb(18, 0, 43); /* #12002b */