/* #00bc77 */
/* #244B30 */
/* #42b983 */
/* #fff */
/* #000000 */
/* #ccc */
/* #222 */
/* #2c3e50 */
/* #12002b */
html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: rgb(44, 62, 80);
}

body {
  margin: 0;
}

#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.bg-dark {
  background-color: rgb(18, 0, 43);
}

/* code pour cacher les titres sur la page */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
.main-nav-logo {
  display: flex;
  align-items: center;
}
.main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}
.main-nav-menu {
  display: flex;
  gap: 20px;
}
.main-nav-menu-item {
  font-weight: bold;
  color: rgb(44, 62, 80);
  text-decoration: none;
  margin-right: 0.5rem;
}
.main-nav-menu-item:hover {
  text-decoration: underline;
}
.main-nav-menu-icon {
  padding-right: 6px;
}

.main-nav a.router-link-exact-active {
  color: rgb(66, 185, 131);
}

.footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid rgb(204, 204, 204);
  padding: 2rem 0 1.5rem;
}
.footer-text {
  margin: 0;
  padding: 0;
}

/*******************    Hero (main page)    ***************************************************************************/
.hero {
  background-image: url("./../src/assets/img/bank-tree.webp");
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}
.hero-content {
  position: relative;
  top: 2rem;
  width: 200px;
  background: rgb(255, 255, 255);
  padding: 2rem;
  text-align: left;
  margin: 0 auto;
}
.hero-content .subtitle {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}
.hero-content .text {
  margin-bottom: 0;
  font-size: 0.9rem;
}
@media (min-width: 920px) {
  .hero {
    height: 400px;
    background-position: 0% 33%;
  }
  .hero-content {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;
  }
  .hero-content .subtitle {
    font-size: 1.5rem;
  }
  .hero-content .text {
    font-size: 1.2rem;
  }
}

/*  */
/******************    Features (main page)    ***********************************************************************/
.features {
  display: flex;
  flex-direction: column;
}
@media (min-width: 920px) {
  .features {
    flex-direction: row;
  }
}
.features .feature-icon {
  width: 100px;
  border: 10px solid rgb(0, 188, 119);
  border-radius: 50%;
  padding: 1rem;
}
.features .feature-item {
  flex: 1;
  padding: 2.5rem;
}
.features .feature-item-title {
  color: rgb(34, 34, 34);
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.sign-in-content {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
}
.sign-in-content .sign-in-icon {
  font-size: 5rem;
}
.sign-in-content .input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}
.sign-in-content .input-wrapper label {
  font-weight: bold;
}
.sign-in-content .input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}
.sign-in-content .input-remember {
  display: flex;
}
.sign-in-content .input-remember label {
  margin-left: 0.25rem;
}
.sign-in-content .sign-in-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: rgb(0, 188, 119);
  background-color: rgb(0, 188, 119);
  color: rgb(255, 255, 255);
}
.sign-in-content .alert-message {
  font-weight: bold;
  margin-top: 15px;
}

.user-info {
  color: rgb(255, 255, 255);
  margin-bottom: 2rem;
}
.user-info .button {
  border-color: rgb(0, 188, 119);
  background-color: rgb(0, 188, 119);
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 10px;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
}
.account-content-wrapper {
  width: 100%;
  flex: 1;
}
.account-content-wrapper .account-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}
.account-content-wrapper .account-amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}
.account-content-wrapper .account-amount-description {
  margin: 0;
}
.account-content-wrapper .transaction-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: rgb(0, 188, 119);
  background-color: rgb(0, 188, 119);
  color: rgb(255, 255, 255);
}
@media (min-width: 720px) {
  .account {
    flex-direction: row;
  }
  .account .account-content-wrapper.cta {
    flex: 0;
  }
  .account .transaction-button {
    width: 200px;
  }
}

.user-edit {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 10px;
}
.user-edit .disabled {
  background: #bebebe;
  color: #4b4b4b;
}
.user-edit .btn-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 20px;
}
.user-edit .btn-wrapper .user-edit-btn {
  padding: 10px 20px;
}

.error-page {
  padding-bottom: 80px;
}
.error-page .error-title {
  font-size: 80px;
  padding: 60px 40px 0 40px;
  color: rgb(36, 75, 48);
}
.error-page .error-subtitle {
  font-size: 20px;
  font-style: oblique;
  font-weight: 600;
  color: rgb(66, 185, 131);
  padding-bottom: 60px;
}
.error-page .error-link {
  font-size: 20px;
  text-decoration: none;
  color: inherit;
}
.error-page .error-link:hover {
  text-decoration: underline;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
